<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushTransitions</key>
	<true/>
	<key>duration</key>
	<real>0.35</real>
	<key>edge</key>
	<integer>3</integer>
	<key>dampingRatio</key>
	<real>0.75</real>
	<key>velocity</key>
	<integer>4</integer>
	<key>springDuration</key>
	<real>1.5</real>
</dict>
</plist>
